{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "extends": [
    "airbnb-typescript/base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "max-len": ["error", { "code": 120 }],
    "import/prefer-default-export": "off",
    "no-console": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      { "functions": false, "variables": false }
    ],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "groups": [["external", "builtin"]],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "@typescript-eslint/naming-convention": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/models/*.ts",
          "**/scripts/*.ts",
          "./src/ext/aws/config.ts"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
