# Telegram
TELEGRAM_BOT_TOKEN_DEV=
TELEGRAM_BOT_TOKEN_PROD=

# Discord
DISCORD_BOT_TOKEN=
DISCORD_ADMIN_DEV_CHANNEL_ID=
DISCORD_ADMIN_PROD_CHANNEL_ID=

# Environment
REGION=eu-central-1
APIG_DEV=
APIG_PROD=
SENTRY_DSN=

# DynamoDB table names
TABLE_CLOSURES=ihcc-closures
TABLE_HC=ihcc-hawkerCentres
TABLE_USERS=ihcc-users
TABLE_FEEDBACK=ihcc-feedback
TABLE_INPUTS=ihcc-inputs

# Server
SERVER_AUTH_TOKEN=
