# Telegram
TELEGRAM_BOT_TOKEN_DEV=
TELEGRAM_BOT_TOKEN_PROD=

# AWS environment
REGION=
APIG_DEV=
APIG_PROD=

# DynamoDB table names
TABLE_CLOSURES=
TABLE_HC=
TABLE_USERS=
TABLE_FEEDBACK=
TABLE_INPUTS=

# S3 bucket names
ARTIFACTS_BUCKET=

# Discord
DISCORD_BOT_TOKEN=
DISCORD_ADMIN_DEV_CHANNEL_ID=
DISCORD_ADMIN_PROD_CHANNEL_ID=

# Sentry
SENTRY_DSN=

# Server
SERVER_AUTH_TOKEN=
